:root {
/*? Dark Mode */
    --darkmode-background-color: #202022;
    --darkmode-text-color: #EEEEEE;
/*? Light Mode */
    --lightmode-background-color: #EFDEC8;
    --lightmode-text-color: #202020;
    /*! #E8B4B8 #EED6D3 */
    /*? #15B5B0 #FBE698  */
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--darkmode-background-color);
}
